.table {
  text-align: left;
}
.table td {
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 0.5rem;
  padding-right: 0.6rem;
  font-weight: bold;
}
.table th {
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 0.5rem;
  padding-right: 0.6rem;
  color: rgb(184, 68, 68);
  font-weight: bold;
}
.tablediv {
  max-height: 60vh;
  min-height: 50vh;
  overflow-y: scroll;
  background-color: white;
  border-radius: 12px;
}

@media only screen and (max-width: 1023px) {
  .table {
    margin-right: 1.5rem;
  }
}
